._message {
    display: block;
    margin-bottom: 11px;
    width: 70%;
    padding-left: 115px;
    font-size: 8px;
    color: #e2465a;
}

._error {
    border: 1px solid #e2465a;
}

._disabled {
    opacity: .5;
    cursor: unset;
}


._disabled:hover {
    background: #e2465a;
}

._complexNotion {
    display: inline-block;
    padding-left: 115px;
    margin-bottom: 11px;
}

._complexNotion > span {
    display: inline-block;
    width: 30px;
    height: 7px;
    margin-right: 3px;
}

._simple {
    background-color: red;
}

._medium {
    background-color: #778899;
}

._complex {
    background-color: #778899;
}